.card{
    position:absolute; /*it can be fixed too*/
    left:0; right:0;
    top:0; bottom:0;
    margin:auto;
    top: 85%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    /* transform: translateY(-50%); */
    text-align: center;
    width: 17%;
    height: 85%;
}
a{
    margin-left: 10%;
}
button{
    margin: left;
}