<app-header></app-header>
<div class="card" id="cardId">
  <form class="register" (submit)="createTrainee()" ngNativeValidate>

    <label for="height">Height (cm)</label><br>
    <input type="number" [(ngModel)]="height" name="height" max="300" min="65" required><br>

    <label for="weight">Weight (kgs)</label><br>
    <input type="number" [(ngModel)]="weight" name="weight" max="999" min="20" required><br>

    <label for="targetWeight">Target Weight: </label><br>
    <input type="number" [(ngModel)]="targetWeight" name="targetWeight"><br>

    <label for="type">Additional Goals</label><br>
    <textarea cols="22" rows="3" [(ngModel)]="type" name="type"></textarea><br>
    <br>
    <label for="address">Address</label><br>
    <input type="text" [(ngModel)]="address" name="address" required><br>

    <label for="firstName">First Name</label><br>
    <input type="text" [(ngModel)]="firstName" name="firstName" required><br>
    <label for="lastName">Last Name</label><br>
    <input type="text" [(ngModel)]="lastName" name="lastName" required><br>

    <label for="gender">Gender</label><br>
    <select name="gender" required [(ngModel)]="gender">
      <option value="male">Male</option>
      <option value="female">Female</option>
    </select><br>

    <label for="birthdate">Date of Birth</label><br>
    <input type="date" [(ngModel)]="birthdate" name="birthdate" required min="{{minDate}}" max={{maxDate}}><br>
    <br>
    <input type="submit" value="register">
    <a href="home">Have an account?</a>

  </form>
</div>
