<label>Search Trainees</label>
<input type="text" readyonly class="form-control-plaintext" [(ngModel)]="searchText" placeholder="Last Name">
<table>
  <tr>
    <th sytle="width: 25%">
      Person Requesting
    </th>
    <th sytle="width: 10%">
      Trainee Weight
    </th>
    <th sytle="width: 10%">
      Trainee Target Weight
    </th>
    <th style="width: 35%">
      Trainee Goals
    </th>
    <th style="width: 10%">
      Accept Request
    </th>
  </tr>
  <tr *ngFor="let u of trainees | traineePipe : searchText">
    <td>
      {{u.firstName}} {{u.lastName}}
    </td>
    <td>
      {{ u.weight }}
    </td>
    <td>
      {{ (u.goal) ? u.goal.targetWeight : 'none' }}
    </td>
    <td>
      {{ (u.goal) ? u.goal.type : 'none' }}
    </td>
    <td>
      <button (click)="acceptTraining(u)">Accept</button>
    </td>
  </tr>
</table>
