<app-header></app-header>
<div class="card" id="cardId">
  <form class="register" ngNativeValidate (submit)="register()">

    <label for="type">User Type</label><br>
    <select name="type" [(ngModel)]="type">
      <option value="trainee" selected="selected">User</option>
      <option value="trainer">Trainer</option>
    </select><br>

    <label for="username">Username</label><br>
    <input type="text" [(ngModel)]="username" name="user" required><br>

    <label for="username">Password</label><br>
    <input type="password" [(ngModel)]="password" name="pass" required><br>
    <br>
    <input type="submit" value="register">
    <a href="login">Have an account?</a>

  </form>
</div>