<nav class="col-sm-3 col-md-2 hidden-xs-down bg-faded sidebar">
  <ul class="nav nav-pills flex-column">
    <li class="nav-item">
      <a class="nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Request Plan</a>
    </li>
  </ul>

  <ul class="nav nav-pills flex-column">
    <li class="nav-item">
      <a class="nav-link" (click)="changeComponents($event, name)">Edit Goals</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Search Trainers</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Edit Account Information</a>
    </li>
  </ul>

  <ul class="nav nav-pills flex-column">
    <li class="nav-item">
      <a class="nav-link" (click)="logout()" href="login">Logout</a>
    </li>
  </ul>
</nav>